.new-post--form {
  margin: 2rem;
  display: grid;
  outline: 10px solid #622d91;
  border-radius: 8px;
  margin-bottom: 1.35rem;
  gap: 1.25rem;
  padding: 1.25rem;
  font-size: 1.1em;
}

.header-container {
  background-color: #2b2b2b;
  padding-block: 1rem;
}

.new-post-btn {
  margin-block: 2rem;
}

.create-new-post__form {
  display: grid;
  gap: 1rem;
}

.btn-container {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

textarea {
  font-family: sans-serif;
}
