.selected-post-container {
  margin: 2rem;
  display: grid;
  outline: 10px solid #622d91;
  border-radius: 8px;
  margin-bottom: 1.35rem;
  gap: 1.25rem;
  padding: 1.25rem;
  font-size: 1.1em;
}

.selected-post__timestamp {
  font-size: 0.8em;
  color: #fea1a1;
  font-style: italic;
}

.selected-post__title {
  font-size: 1.45em;
  font-weight: bold;
}

.selected-post__body {
  white-space: pre-line;
}

.selected-post__btn-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.no-post-container {
  display: grid;
  place-items: center;
  height: 100%;

  font-weight: bold;
}
