#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.app-container {
  display: grid;
  place-items: center;
}

.logo {
  width: min(100%, 350px);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
